@model IEnumerable<CursosMVC.Models.Curso>

@{
    ViewData["Title"] = "Cursos";
}

<h1 class="text-center m-3">@ViewData["Title"]</h1>



<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-6 mt-5">
                <div class="d-flex flex-row">
                    <div class="div-foto">
                        @if (item.Dados != null)
                        {
                            <a href="@item.Link" target="_blank">
                                <img src="/Cursos/CarregarFoto/@item.Id" class="foto selecionar-curso" alt="Imagem do curso" />
                            </a>
                        }
                        else
                        { 
                            <a href="@item.Link" target="_blank">
                                <img src="~/image/sem-foto.jpg" class="foto selecionar-curso" alt="Sem foto" />
                            </a>
                        }
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <div class="d-flex flex-row justify-content-between">
                            <div class="plataforma">
                                @item.Plataforma
                            </div>
                            <div>
                                <a href="@item.Link" target="_blank" >
                                    <img src="~/image/seta-direita.png" alt="Seta - ir para página" width="20" class="link-acessar" />
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-center title">@item.Nome</h5>
                        </div>
                        <div class="d-flex flex-row">
                            @if (item.TemCertificado == true)
                            {
                                @if (item.CertificadoGratuito == true)
                                {
                                    <p class="btn-detalhes btn-certificado">Certificado gratuito</p>      
                                }
                                else
                                {
                                    <p class="btn-detalhes btn-certificado">
                                        Certificado pago
                                    </p>
                                }
                            }
                            else
                            {
                                <p class="btn-detalhes btn-sem-certificado">
                                    Sem certificado
                                </p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
@*<div class="div-novo-curso text-center">
    <a asp-action="Create" class="novo-curso">Novo Curso</a>
</div>*@

