@model IEnumerable<CursosMVC.Models.Curso>

@{
    ViewData["Title"] = "Cursos";
}

<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create">Adicionar curso</a>
</p>


<div class="container">
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-12 col-sm-6 mt-5">
                <div class="d-flex flex-row">
                    <div class="div-foto">
                        @if (item.Dados != null)
                        {
                            <a asp-action="Details" asp-route-id="@item.Id">
                                <img src="/Cursos/CarregarFoto/@item.Id" class="foto selecionar-curso" alt="Imagem do curso" />
                            </a>
                        }
                        else
                        { <a asp-action="Details" asp-route-id="@item.Id">
                                <img src="~/image/sem-foto.jpg" class="foto selecionar-curso" alt="Sem foto" />
                            </a>
                        }
                    </div>
                    <div class="d-flex flex-column justify-content-between">
                        <div class="d-flex flex-row">
                            <div class="plataforma">
                                @item.Plataforma
                            </div>
                            <div>
                                <a asp-action="Edit" asp-route-id="@item.Id" class="btn edit">
                                    <img src="~/image/editar.png" alt="Editar" width="15" />
                                </a>
                            </div>
                        </div>
                        <div>
                            <h5 class="text-center title">@item.Nome</h5>
                        </div>
                        <div class="d-flex flex-row">
                            <a asp-action="Details" asp-route-id="@item.Id" class="btn-detalhes">
                                Detalhes
                            </a>
                            <a asp-action="Delete" asp-route-id="@item.Id">
                                <img src="~/image/lixeira.png" alt="Lixeira" width="20" class="lixeira" />
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<div class="div-novo-curso">
    <a asp-action="Create" class="novo-cuso">Novo Curso</a>
</div>







@*<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Plataforma)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TemCertificado)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CertificadoGratuito)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContentType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Link)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Plataforma)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TemCertificado)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CertificadoGratuito)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dados)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ContentType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Link)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>*@
